<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caelumtrade.realestate.admin.user.dao.UserDAO">

	<select id="getUser" parameterType="java.util.Map" resultType="java.util.Map">
		/* getUser */
		SELECT    IDX, ID, NAME, TEL, EMAIL, ADDRESS1, ADDRESS2, COMPANY_IDX
		FROM      MEMBER
		WHERE     IDX = #{admin_idx}
	</select>

	<update id="user_change_save" parameterType="java.util.Map">
		/* user_change_save */
		UPDATE MEMBER
		SET    NAME  = #{name},
		       TEL   = #{tel},
		       <if test="pwd != null and pwd != ''">
		       PW    = #{pwd},
			   </if>
		       EMAIL = #{email}
		WHERE  IDX   = #{admin_idx}
	</update>

</mapper>