<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caelumtrade.realestate.admin.admin.dao.MemberDAO">

	<select id="get_total_member_count" parameterType="java.util.Map" resultType="Integer">
		/* get_total_member_count */
		SELECT    COUNT(*)
		FROM      MEMBER
		WHERE     1=1
	</select>

	<select id="get_member_list" parameterType="java.util.Map" resultType="java.util.Map">
		/* get_member_list */
		SELECT    a.*
		FROM      (
					  SELECT    @rownum:=@rownum+1 AS no,
								b.IDX, b.ID, b.NAME, b.LEVEL, b.TEL,
								date_format(b.REGDATE, '%Y-%m-%d %H:%i:%s') as REGDATE , b.REGID,
					            b.MODDATE, b.MODID, b.AGREE
					  FROM      MEMBER b, (SELECT @ROWNUM := 0) R
					  WHERE     1 = 1
					  ORDER BY  IDX DESC
				  ) a
		WHERE     no BETWEEN #{start} AND #{end}
	</select>

	<select id="get_member" parameterType="java.util.Map" resultType="java.util.Map">
		/* get_member */
		SELECT    IDX, ID, NAME, TEL, LEVEL
		FROM      MEMBER
		WHERE     IDX = #{idx}
	</select>

	<update id="member_agree" parameterType="java.util.Map">
		UPDATE MEMBER
		SET    AGREE = 'Y'
		WHERE  IDX = #{idx}
	</update>

	<update id="member_save" parameterType="java.util.Map">
		/* member_save */
		UPDATE MEMBER
		SET    NAME = #{name},
		       TEL  = #{tel},
		       <if test="pwd != null and pwd != ''">
		       PW = #{pw},
			   </if>
		       LEVEL = #{level}
		WHERE  IDX = #{idx}
	</update>

	<select id="get_total_marketing_count" parameterType="java.util.Map" resultType="Integer">
		/* get_total_marketing_count */
		SELECT    COUNT(*)
		FROM      MARKETING
		WHERE     1=1
	</select>

	<select id="get_marketing_list" parameterType="java.util.Map" resultType="java.util.Map">
		/* get_marketing_list */
		SELECT    a.*
		FROM      (
					  SELECT    @rownum:=@rownum+1 AS no,
								b.IDX, b.TEL, b.SEND_CNT, b.USE_YN
					  FROM      MARKETING b, (SELECT @ROWNUM := 0) R
					  WHERE     1 = 1
					  ORDER BY  IDX DESC
				  ) a
		WHERE     no BETWEEN #{start} AND #{end}
	</select>

	<delete id="marketing_delete">
		/* marketing_delete */
		DELETE FROM MARKETING
		WHERE idx in
		<foreach collection="list" item="item" separator="," open="(" close=")">
			#{item}
		</foreach>
	</delete>

</mapper>