<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caelumtrade.realestate.admin.inquiry.dao.InquiryDAO">

    <select id="get_total_inquiry_count" parameterType="java.util.Map" resultType="Integer">
        /* get_total_inquiry_count */
        SELECT     COUNT(*)
        FROM       INQURITY I
        WHERE      1 = 1
        <if test="start_date != null and start_date != ''">
            AND       DATE_FORMAT(I.REGDATE, '%Y-%m-%d') >= #{start_date}
        </if>
        <if test="end_date != null and end_date != ''">
            AND       DATE_FORMAT(I.REGDATE, '%Y-%m-%d')  &lt;= #{end_date}
        </if>
    </select>

    <select id="get_inquiry_list" parameterType="java.util.Map" resultType="java.util.Map">
        /* get_inquiry_list */
        SELECT    *
        FROM      (
                   SELECT     @rownum := @rownum + 1 AS no,
                              I.IDX,
                              I.NAME,
                              I.TEL,
                              I.MEMO,
                              I.REGISTER_YN,
                              date_format(I.REGDATE, '%Y-%m-%d %H:%i:%s') AS REGDATE
                   FROM       INQURITY I,
                              (SELECT @ROWNUM := 0) R
                   WHERE      1=1
                   <if test="start_date != null and start_date != ''">
                       AND       DATE_FORMAT(I.REGDATE, '%Y-%m-%d') >= #{start_date}
                   </if>
                   <if test="end_date != null and end_date != ''">
                       AND       DATE_FORMAT(I.REGDATE, '%Y-%m-%d')  &lt;= #{end_date}
                   </if>
                   ORDER BY  IDX DESC
                  ) a
        WHERE     no BETWEEN #{start} AND #{end}
    </select>

    <update id="inquiry_agree" parameterType="java.util.Map">
        /* inquiry_agree */
        UPDATE INQURITY SET REGISTER_YN = 'Y' WHERE IDX = #{idx}
    </update>

    <delete id="inquiry_delete">
        /* inquiry_delete */
        DELETE FROM INQURITY
        WHERE idx IN
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </delete>

</mapper>