<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caelumtrade.realestate.front.home.dao.MainDAO">

	<select id="get_main" parameterType="java.util.Map" resultType="java.util.Map">
		/* get_main */
		SELECT H.HOMEPAGE_NAME, H.CONNECT_TEL AS VIEW_TEL, REPLACE(H.CONNECT_TEL, '-', '') AS CONNECT_TEL, H.MAIN_IMG_PATH,
		       H.TITLE1, H.USE_YN1,
		       D1.IMG_PATH1 AS D1_IMG_PATH1, D1.IMG_PATH2 AS D1_IMG_PATH2, D1.IMG_PATH3 AS D1_IMG_PATH3, D1.IMG_PATH4 AS D1_IMG_PATH4, D1.IMG_PATH5 AS D1_IMG_PATH5,
		       D1.IMG_PATH6 AS D1_IMG_PATH6, D1.IMG_PATH7 AS D1_IMG_PATH7, D1.IMG_PATH8 AS D1_IMG_PATH8, D1.IMG_PATH9 AS D1_IMG_PATH9, D1.IMG_PATH10 AS D1_IMG_PATH10,
			   D1.MEMO1 AS D1_MEMO1, D1.MEMO2 AS D1_MEMO2, D1.MEMO3 AS D1_MEMO3, D1.MEMO4 AS D1_MEMO4, D1.MEMO5 AS D1_MEMO5,
			   D1.MEMO6 AS D1_MEMO6, D1.MEMO7 AS D1_MEMO7, D1.MEMO8 AS D1_MEMO8, D1.MEMO9 AS D1_MEMO9, D1.MEMO10 AS D1_MEMO10,
			   D1.USE_YN1 AS D1_USE_YN1, D1.USE_YN2 AS D1_USE_YN2, D1.USE_YN3 AS D1_USE_YN3, D1.USE_YN4 AS D1_USE_YN4, D1.USE_YN5 AS D1_USE_YN5,
			   D1.USE_YN6 AS D1_USE_YN6, D1.USE_YN7 AS D1_USE_YN7, D1.USE_YN8 AS D1_USE_YN8, D1.USE_YN9 AS D1_USE_YN9, D1.USE_YN10 AS D1_USE_YN10,
			   H.TITLE2, H.USE_YN2,
		       D2.IMG_PATH1  AS D2_IMG_PATH1, D2.IMG_PATH2  AS D2_IMG_PATH2, D2.IMG_PATH3  AS D2_IMG_PATH3, D2.IMG_PATH4  AS D2_IMG_PATH4, D2.IMG_PATH5  AS D2_IMG_PATH5,
		       D2.IMG_PATH6  AS D2_IMG_PATH6, D2.IMG_PATH7  AS D2_IMG_PATH7, D2.IMG_PATH8  AS D2_IMG_PATH8, D2.IMG_PATH9  AS D2_IMG_PATH9, D2.IMG_PATH10 AS D2_IMG_PATH10,
			   D2.MEMO1      AS D2_MEMO1, D2.MEMO2      AS D2_MEMO2, D2.MEMO3      AS D2_MEMO3, D2.MEMO4      AS D2_MEMO4, D2.MEMO5      AS D2_MEMO5,
		       D2.MEMO6      AS D2_MEMO6, D2.MEMO7      AS D2_MEMO7, D2.MEMO8      AS D2_MEMO8, D2.MEMO9      AS D2_MEMO9, D2.MEMO10     AS D2_MEMO10,
		       D2.USE_YN1    AS D2_USE_YN1, D2.USE_YN2    AS D2_USE_YN2, D2.USE_YN3    AS D2_USE_YN3, D2.USE_YN4    AS D2_USE_YN4, D2.USE_YN5    AS D2_USE_YN5,
		       D2.USE_YN6    AS D2_USE_YN6, D2.USE_YN7    AS D2_USE_YN7, D2.USE_YN8    AS D2_USE_YN8, D2.USE_YN9    AS D2_USE_YN9, D2.USE_YN10   AS D2_USE_YN10,
		       H.TITLE3, H.USE_YN3,
		       D3.IMG_PATH1  AS D3_IMG_PATH1, D3.IMG_PATH2  AS D3_IMG_PATH2, D3.IMG_PATH3  AS D3_IMG_PATH3, D3.IMG_PATH4  AS D3_IMG_PATH4, D3.IMG_PATH5  AS D3_IMG_PATH5,
		       D3.IMG_PATH6  AS D3_IMG_PATH6, D3.IMG_PATH7  AS D3_IMG_PATH7, D3.IMG_PATH8  AS D3_IMG_PATH8, D3.IMG_PATH9  AS D3_IMG_PATH9, D3.IMG_PATH10 AS D3_IMG_PATH10,
		       D3.MEMO1      AS D3_MEMO1, D3.MEMO2      AS D3_MEMO2, D3.MEMO3      AS D3_MEMO3, D3.MEMO4      AS D3_MEMO4, D3.MEMO5      AS D3_MEMO5,
		       D3.MEMO6      AS D3_MEMO6, D3.MEMO7      AS D3_MEMO7, D3.MEMO8      AS D3_MEMO8, D3.MEMO9      AS D3_MEMO9, D3.MEMO10     AS D3_MEMO10,
		       D3.USE_YN1    AS D3_USE_YN1, D3.USE_YN2    AS D3_USE_YN2, D3.USE_YN3    AS D3_USE_YN3, D3.USE_YN4    AS D3_USE_YN4, D3.USE_YN5    AS D3_USE_YN5,
		       D3.USE_YN6    AS D3_USE_YN6, D3.USE_YN7    AS D3_USE_YN7, D3.USE_YN8    AS D3_USE_YN8, D3.USE_YN9    AS D3_USE_YN9, D3.USE_YN10   AS D3_USE_YN10,
			   H.TITLE4, H.USE_YN4,
		       D4.IMG_PATH1  AS D4_IMG_PATH1, D4.IMG_PATH2  AS D4_IMG_PATH2, D4.IMG_PATH3  AS D4_IMG_PATH3, D4.IMG_PATH4  AS D4_IMG_PATH4, D4.IMG_PATH5  AS D4_IMG_PATH5,
		       D4.IMG_PATH6  AS D4_IMG_PATH6, D4.IMG_PATH7  AS D4_IMG_PATH7, D4.IMG_PATH8  AS D4_IMG_PATH8, D4.IMG_PATH9  AS D4_IMG_PATH9, D4.IMG_PATH10 AS D4_IMG_PATH10,
		       D4.MEMO1      AS D4_MEMO1, D4.MEMO2      AS D4_MEMO2, D4.MEMO3      AS D4_MEMO3, D4.MEMO4      AS D4_MEMO4, D4.MEMO5      AS D4_MEMO5,
		       D4.MEMO6      AS D4_MEMO6, D4.MEMO7      AS D4_MEMO7, D4.MEMO8      AS D4_MEMO8, D4.MEMO9      AS D4_MEMO9, D4.MEMO10     AS D4_MEMO10,
		       D4.USE_YN1    AS D4_USE_YN1, D4.USE_YN2    AS D4_USE_YN2, D4.USE_YN3    AS D4_USE_YN3, D4.USE_YN4    AS D4_USE_YN4, D4.USE_YN5    AS D4_USE_YN5,
		       D4.USE_YN6    AS D4_USE_YN6, D4.USE_YN7    AS D4_USE_YN7, D4.USE_YN8    AS D4_USE_YN8, D4.USE_YN9    AS D4_USE_YN9, D4.USE_YN10   AS D4_USE_YN10,
			   H.TITLE5, H.USE_YN5,
		       D5.IMG_PATH1  AS D5_IMG_PATH1, D5.IMG_PATH2  AS D5_IMG_PATH2, D5.IMG_PATH3  AS D5_IMG_PATH3, D5.IMG_PATH4  AS D5_IMG_PATH4, D5.IMG_PATH5  AS D5_IMG_PATH5,
		       D5.IMG_PATH6  AS D5_IMG_PATH6, D5.IMG_PATH7  AS D5_IMG_PATH7, D5.IMG_PATH8  AS D5_IMG_PATH8, D5.IMG_PATH9  AS D5_IMG_PATH9, D5.IMG_PATH10 AS D5_IMG_PATH10,
		       D5.MEMO1      AS D5_MEMO1, D5.MEMO2      AS D5_MEMO2, D5.MEMO3      AS D5_MEMO3, D5.MEMO4      AS D5_MEMO4, D5.MEMO5      AS D5_MEMO5,
		       D5.MEMO6      AS D5_MEMO6, D5.MEMO7      AS D5_MEMO7, D5.MEMO8      AS D5_MEMO8, D5.MEMO9      AS D5_MEMO9, D5.MEMO10     AS D5_MEMO10,
		       D5.USE_YN1    AS D5_USE_YN1, D5.USE_YN2    AS D5_USE_YN2, D5.USE_YN3    AS D5_USE_YN3, D5.USE_YN4    AS D5_USE_YN4, D5.USE_YN5    AS D5_USE_YN5,
		       D5.USE_YN6    AS D5_USE_YN6, D5.USE_YN7    AS D5_USE_YN7, D5.USE_YN8    AS D5_USE_YN8, D5.USE_YN9    AS D5_USE_YN9, D5.USE_YN10   AS D5_USE_YN10
		FROM   HOMEPAGE_H H
		           LEFT JOIN HOMEPAGE_D D1 ON H.IDX = D1.H_IDX AND D1.ORDER_NUM = 1
				   LEFT JOIN HOMEPAGE_D D2 ON H.IDX = D2.H_IDX AND D2.ORDER_NUM = 2
				   LEFT JOIN HOMEPAGE_D D3 ON H.IDX = D3.H_IDX AND D3.ORDER_NUM = 3
				   LEFT JOIN HOMEPAGE_D D4 ON H.IDX = D4.H_IDX AND D4.ORDER_NUM = 4
				   LEFT JOIN HOMEPAGE_D D5 ON H.IDX = D5.H_IDX AND D5.ORDER_NUM = 5
		WHERE  H.URL = #{url}
	</select>

</mapper>