<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caelumtrade.realestate.admin.homepage.dao.HomepageDAO">

    <select id="get_total_homepage_count" parameterType="java.util.Map" resultType="Integer">
        /* get_total_homepage_count */
        SELECT    COUNT(*)
        FROM      HOMEPAGE_H
        <if test="member_level != 100">
        WHERE     MEMBER_IDX = #{member_idx}
        </if>
    </select>

    <select id="get_homepage_list" parameterType="java.util.Map" resultType="java.util.Map">
        /* get_homepage_list */
        SELECT    a.*
        FROM      (
                      SELECT    @rownum:=@rownum+1 AS no,
		                        b.IDX, b.HOMEPAGE_NAME, IFNULL(b.URL, ' ') AS URL,
		                        date_format(b.REGDATE, '%Y-%m-%d %H:%i:%s') AS REGDATE
                      FROM      HOMEPAGE_H b, (SELECT @ROWNUM := 0) R
                      WHERE     1 = 1
                      <if test="member_level != 100">
                      AND       MEMBER_IDX = #{member_idx}
                      </if>
                      ORDER BY  IDX DESC
                  ) a
        WHERE     no BETWEEN #{start} AND #{end}
    </select>

    <select id="get_homepage_h" parameterType="java.util.Map" resultType="java.util.Map">
        /* get_homepage_h */
        SELECT    IDX, HOMEPAGE_NAME, CONNECT_TEL, MAIN_IMG_NAME, MAIN_IMG_PATH,
                  TITLE1, USE_YN1, TITLE2, USE_YN2, TITLE3, USE_YN3, TITLE4, USE_YN4, TITLE5, USE_YN5
        FROM      HOMEPAGE_H
        WHERE     IDX = #{idx}
        <if test="member_level != 100">
        AND       MEMBER_IDX = #{member_idx}
        </if>
    </select>

    <update id="homepage_save" parameterType="java.util.Map">
        /* homepage_save */
        <selectKey keyProperty="CNT" resultType="Integer" order="BEFORE">
            SELECT COUNT(*) AS CNT FROM HOMEPAGE_H WHERE IDX = #{idx}
        </selectKey>
        <choose>
            <when test="CNT == 0">
                INSERT INTO HOMEPAGE_H
                (
                 HOMEPAGE_NAME,
                 CONNECT_TEL,
                 MAIN_IMG_NAME,
                 MAIN_IMG_PATH,
                 TITLE1,
                 USE_YN1,
                 TITLE2,
                 USE_YN2,
                 TITLE3,
                 USE_YN3,
                 TITLE4,
                 USE_YN4,
                 TITLE5,
                 USE_YN5,
                 MATCH_KEY,
                 MEMBER_IDX,
                 REGDATE,
                 REGID,
                 MODDATE,
                 MODID,
                 URL
                )
                VALUES
                (
                #{homepage_name},
                #{connect_tel},
                #{main_img_name},
                #{main_img_path},
                #{title_1},
                #{use_yn_1},
                #{title_2},
                #{use_yn_2},
                #{title_3},
                #{use_yn_3},
                #{title_4},
                #{use_yn_4},
                #{title_5},
                #{use_yn_5},
                #{match_key},
                #{member_idx},
                NOW(),
                (SELECT ID FROM MEMBER WHERE IDX = #{member_idx}),
                NOW(),
                (SELECT ID FROM MEMBER WHERE IDX = #{member_idx}),
                #{URL}
                )
            </when>
            <otherwise>
                UPDATE HOMEPAGE_H
                SET    HOMEPAGE_NAME = #{homepage_name},
                       CONNECT_TEL   = #{connect_tel},
                       MAIN_IMG_NAME = #{main_img_name},
                       MAIN_IMG_PATH = #{main_img_path},
                       TITLE1        = #{title_1},
                       USE_YN1       = #{use_yn_1},
                       TITLE2        = #{title_2},
                       USE_YN2       = #{use_yn_2},
                       TITLE3        = #{title_3},
                       USE_YN3       = #{use_yn_3},
                       TITLE4        = #{title_4},
                       USE_YN4       = #{use_yn_4},
                       TITLE5        = #{title_5},
                       USE_YN5       = #{use_yn_5},
                       MODDATE       = NOW(),
                       MODID         = (SELECT ID FROM MEMBER WHERE IDX = #{member_idx})
                WHERE  IDX = #{idx}
            </otherwise>
        </choose>
    </update>

    <select id="get_homepage_detail" parameterType="java.util.Map" resultType="java.util.Map">
        /* get_homepage_detail */
        SELECT    IMG_NAME1, IMG_PATH1, MEMO1, USE_YN1,
                  IMG_NAME2, IMG_PATH2, MEMO2, USE_YN2,
                  IMG_NAME3, IMG_PATH3, MEMO3, USE_YN3,
                  IMG_NAME4, IMG_PATH4, MEMO4, USE_YN4,
                  IMG_NAME5, IMG_PATH5, MEMO5, USE_YN5,
                  IMG_NAME6, IMG_PATH6, MEMO6, USE_YN6,
                  IMG_NAME7, IMG_PATH7, MEMO7, USE_YN7,
                  IMG_NAME8, IMG_PATH8, MEMO8, USE_YN8,
                  IMG_NAME9, IMG_PATH9, MEMO9, USE_YN9,
                  IMG_NAME10, IMG_PATH10, MEMO10, USE_YN10
        FROM      HOMEPAGE_D
        WHERE     H_IDX = #{h_idx}
        AND       ORDER_NUM = #{order_num}
    </select>

    <update id="homepage_detail_save" parameterType="java.util.Map">
        /* homepage_detail_save */
        <selectKey keyProperty="CNT" resultType="Integer" order="BEFORE">
            SELECT COUNT(*) AS CNT FROM HOMEPAGE_D WHERE H_IDX = #{h_idx} AND ORDER_NUM = #{order_num}
        </selectKey>
        <choose>
            <when test="CNT == 0">
                INSERT INTO HOMEPAGE_D
                (
                 H_IDX,
                 ORDER_NUM,
                 IMG_NAME1,
                 IMG_PATH1,
                 MEMO1,
                 USE_YN1,
                 IMG_NAME2,
                 IMG_PATH2,
                 MEMO2,
                 USE_YN2,
                 IMG_NAME3,
                 IMG_PATH3,
                 MEMO3,
                 USE_YN3,
                 IMG_NAME4,
                 IMG_PATH4,
                 MEMO4,
                 USE_YN4,
                 IMG_NAME5,
                 IMG_PATH5,
                 MEMO5,
                 USE_YN5,
                 IMG_NAME6,
                 IMG_PATH6,
                 MEMO6,
                 USE_YN6,
                 IMG_NAME7,
                 IMG_PATH7,
                 MEMO7,
                 USE_YN7,
                 IMG_NAME8,
                 IMG_PATH8,
                 MEMO8,
                 USE_YN8,
                 IMG_NAME9,
                 IMG_PATH9,
                 MEMO9,
                 USE_YN9,
                 IMG_NAME10,
                 IMG_PATH10,
                 MEMO10,
                 USE_YN10,
                 REGDATE,
                 REGID
                )
                VALUES
                (
                 #{h_idx},
                 #{order_num},
                 #{img_name1},
                 #{img_path1},
                 #{memo1},
                 #{use_yn1},
                 #{img_name2},
                 #{img_path2},
                 #{memo2},
                 #{use_yn2},
                 #{img_name3},
                 #{img_path3},
                 #{memo3},
                 #{use_yn3},
                 #{img_name4},
                 #{img_path4},
                 #{memo4},
                 #{use_yn4},
                 #{img_name5},
                 #{img_path5},
                 #{memo5},
                 #{use_yn5},
                 #{img_name6},
                 #{img_path6},
                 #{memo6},
                 #{use_yn6},
                 #{img_name7},
                 #{img_path7},
                 #{memo7},
                 #{use_yn7},
                 #{img_name8},
                 #{img_path8},
                 #{memo8},
                 #{use_yn8},
                 #{img_name9},
                 #{img_path9},
                 #{memo9},
                 #{use_yn9},
                 #{img_name10},
                 #{img_path10},
                 #{memo10},
                 #{use_yn10},
                 NOW(),
                 (SELECT ID FROM MEMBER WHERE IDX = #{member_idx})
                )
            </when>
            <otherwise>
                UPDATE HOMEPAGE_D
                SET    IMG_NAME1  = #{img_name1},
                       IMG_PATH1  = #{img_path1},
                       MEMO1      = #{memo1},
                       USE_YN1    = #{use_yn1},
                       IMG_NAME2  = #{img_name2},
                       IMG_PATH2  = #{img_path2},
                       MEMO2      = #{memo2},
                       USE_YN2    = #{use_yn2},
                       IMG_NAME3  = #{img_name3},
                       IMG_PATH3  = #{img_path3},
                       MEMO3      = #{memo3},
                       USE_YN3    = #{use_yn3},
                       IMG_NAME4  = #{img_name4},
                       IMG_PATH4  = #{img_path4},
                       MEMO4      = #{memo4},
                       USE_YN4    = #{use_yn4},
                       IMG_NAME5  = #{img_name5},
                       IMG_PATH5  = #{img_path5},
                       MEMO5      = #{memo5},
                       USE_YN5    = #{use_yn5},
                       IMG_NAME6  = #{img_name6},
                       IMG_PATH6  = #{img_path6},
                       MEMO6      = #{memo6},
                       USE_YN6    = #{use_yn6},
                       IMG_NAME7  = #{img_name7},
                       IMG_PATH7  = #{img_path7},
                       MEMO7      = #{memo7},
                       USE_YN7    = #{use_yn7},
                       IMG_NAME8  = #{img_name8},
                       IMG_PATH8  = #{img_path8},
                       MEMO8      = #{memo8},
                       USE_YN8    = #{use_yn8},
                       IMG_NAME9  = #{img_name9},
                       IMG_PATH9  = #{img_path9},
                       MEMO9      = #{memo9},
                       USE_YN9    = #{use_yn9},
                       IMG_NAME10 = #{img_name10},
                       IMG_PATH10 = #{img_path10},
                       MEMO10     = #{memo10},
                       USE_YN10   = #{use_yn10},
                       REGID      = (SELECT ID FROM MEMBER WHERE IDX = #{member_idx})
                WHERE  H_IDX = #{h_idx}
                AND    ORDER_NUM = #{order_num}
            </otherwise>
        </choose>
    </update>

</mapper>